<!-- 引入头文件 -->
{include file="public/header" /}
<!-- 可以扩展自定义引入文件 -->
<link rel="shortcut icon" href="favicon.ico">
<link href="css/plugins/iCheck/custom.css" rel="stylesheet">
</head>
<!-- 引入菜单 -->
{include file="public/menu" /}
<!-- 引入导航 -->
{include file="public/nav" /}

        <div class="row J_mainContent" id="content-main">
                <iframe id="J_iframe" width="100%" height="100%" src="/admin/index/main" frameborder="0" data-id="/admin/index/main" seamless>
                </iframe>
        </div>
 
    </div>
</div>



<!-- 引入底部js文件 -->
{include file="public/footer" /}
<div style="text-align:center;">
</div>
</body>

</html>